@model List<ResultProductWithBrandsDtos>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Eşya Listesi</h4>
                        <p class="card-subtitle mb-4">
                            Eşyalarla ilgili crud işlemlerini bu sayfa üzerinden gerçekleştirebilirsiniz. 
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th> Marka</th>
                                        <th>Model </th>
                                        
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var item in Model){
                                        count++;
                                        <tr>
                                        <th scope="row">@count</th>
                                        <td>@item.BrandName</td>
                                        <td>@item.Model</td>
                                        <td><a href="/AdminProduct/RemoveProduct/@item.ProductID" class="btn btn-outline-danger">Sil</a></td>
                                            <td><a href="/AdminProduct/UpdateProduct/@item.ProductID" class="btn btn-outline-success">Güncelle</a></td>

                                        
                                    </tr>
                                    }
                               
                                </tbody>
                            </table>
                            <td><a href="/AdminProduct/CreateProduct/" class="btn btn-outline-success">Yeni Eşya Girişi</a></td>

                        </div>

                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>
            <!-- end col -->


      
        </div>
        <!-- end page title -->

    </div> <!-- container-fluid -->
</div>

